/* Place your CSS styles in this file */

h1 {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color:white;
}
body{background-color: lightcoral

ul {list-style-type:none;}
li {display : inline ;
padding : spv ; }
ul { background-color: lightpink ;
border : 2px solid whitesmoke ; 
}

ul {list-style-type: none;
border:5px solid pink; 
background-color: papayawhip;}
li {display: inline;
    padding: 8px;}
ul {text-align: center;}

 



